extends ../layout

block content
	h1= title
	.container
		.row
			.col-md-8(style="padding-left:30px;")
				form.form-horizontal(method="post",action="/edit/#{article._id}")
					.form-group
						h4 标题
						input#inputTitle.form-control(type="text", name="article[title]", value="#{article.title}")
					.form-group
						h4 内容
						textarea#inputTitle.form-control(type="text", name="article[content]",rows="8") #{article.content}
					.form-group
						h4 标签
						input#inputTitle.form-control(type="json", name="article[tags]", value="#{article.tags}")
					.form-group
						button.btn.btn-default(type="submit") 发布