extends ../layout

block content
	h1= title
	.container
		.row
			a(href="/admin")
				buttun.btn.btn-default(type="button") post a new
			a(href="/reg")
				buttun.btn.btn-default(type="button") registrer
			a(href="/login")
				buttun.btn.btn-default(type="button") login
			span #{username}
			a(href="/logout") 退出
		.row
			each u in article
				a(href="/p/#{u.id}") #{u.title}
				p: span #{u.content}