extends ../layout

block content
	.container
		.row
			.col-md-8
					each u in article
						div
								a
									a(href="/p/#{u.id}")
										h4.media-heading #{u.title}
									p #{u.content}
			.col-md-4
					span dd
		.row
			nav
				ul.pagination
					- for (var i = 1; i < pageNum+1; ++i) {
						li: a(href="/page/#{i}") #{i} 
					- }