extends ../layout

block content
	h1= title
	.container
		.row
			- if(!user)
				.col-md-1
					a(href="/reg")
						buttun.btn.btn-default(type="button") 注册
				.col-md-1
					a(href="/login")
						buttun.btn.btn-default(type="button") 登陆

			- if (user)
				.col-md-1
					a(href="/new")
						buttun.btn.btn-default(type="button") 发布
				.col-md-1
					span #{username}
					a(href="/logout")
						button.btn.btn-link 退出
		.row
			each u in article
				a(href="/p/#{u.id}")
					h4 #{u.title}
				p: span #{u.content}